[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
watchdog = "*"

[packages]
flask = "*"
python-dotenv = "*"
itsdangerous = "*"
flask-babel = "*"
flask-wtf = "*"
flask-ckeditor = "*"
flask-dropzone = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-mail = "*"

[requires]
python_version = "3.6"
