[[source]]
#url = "https://pypi.org/simple"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
watchdog = "*"

[packages]
flask = "*"
python-dotenv = "*"
itsdangerous = "*"
flask-babel = "*"
flask-wtf = "*"
flask-ckeditor = "*"
flask-dropzone = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-mail = "*"
sendgrid = "*"
flask-caching = "*"

[requires]
python_version = "3.6"
